<mat-card>
  <mat-card-title>
    Cost values
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      *ngIf="form"
    >
      <div
        gdColumns="repeat(3, minmax(200px, 1fr))"
        gdColumns.xs="1fr"
        gdGap="10px"
        style="max-width: 900px"
      >
        <app-control-value-form-field
          label="Annual incoming stock transactions"
          name="incomingStockTransactionQuantityTarget"
          [control]="form.controls.incomingStockTransactionQuantityTarget"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Annual labour cost (€)"
          name="labourCost"
          [control]="form.controls.labourCost"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Annual warehousing cost (€)"
          name="warehousingCost"
          [control]="form.controls.warehousingCost"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Annual total cost (€)"
          name="totalCost"
          [control]="form.controls.totalCost"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Unit price cost percentage"
          name="unitPriceCostPercentage"
          [control]="form.controls.unitPriceCostPercentage"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Unit price with costs (€)"
          name="unitPriceWithCosts"
          [control]="form.controls.unitPriceWithCosts"
        ></app-control-value-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
