<mat-form-field appearance="fill" style="width: 100%">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="number"
    [name]="name"
    [formControl]="control"
  >
  <mat-error *ngIf="control.hasError('mustBePositive')">
    Please enter a positive value
  </mat-error>
  <mat-error *ngIf="control.hasError('mustBePositiveOrZero')">
    Please enter a positive value
  </mat-error>
  <mat-error *ngIf="control.hasError('valueIsNotPositive')">
    Please enter a positive value for: {{ control.getError('valueIsNotPositive').join(', ') }}
  </mat-error>
  <mat-error *ngIf="control.hasError('valueIsNotPositiveOrZero')">
    Please enter a positive value for: {{ control.getError('valueIsNotPositiveOrZero').join(', ') }}
  </mat-error>
</mat-form-field>
