<mat-card>
  <mat-card-title>
    Consumption values
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      *ngIf="form"
    >
      <div
        gdColumns="repeat(2, minmax(200px, 1fr))"
        gdColumns.xs="1fr"
        gdGap="10px"
        style="max-width: 600px"
      >
        <app-control-value-form-field
          label="Daily consumption (qty)"
          name="dailyConsumptionQuantityTarget"
          [control]="form.controls.dailyConsumptionQuantityTarget"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Daily consumption (€)"
          name="dailyConsumptionQuantityTargetValue"
          [control]="form.controls.dailyConsumptionQuantityTargetValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Weekly consumption (qty)"
          name="weeklyConsumptionQuantityTarget"
          [control]="form.controls.weeklyConsumptionQuantityTarget"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Weekly consumption (€)"
          name="weeklyConsumptionQuantityTargetValue"
          [control]="form.controls.weeklyConsumptionQuantityTargetValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Annual consumption (qty)"
          name="annualConsumptionQuantityTarget"
          [control]="form.controls.annualConsumptionQuantityTarget"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Annual consumption (€)"
          name="annualConsumptionQuantityTargetValue"
          [control]="form.controls.annualConsumptionQuantityTargetValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Lead time consumption (qty)"
          name="leadTimeConsumptionQuantity"
          [control]="form.controls.leadTimeConsumptionQuantity"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Lead time consumption (€)"
          name="leadTimeConsumptionValue"
          [control]="form.controls.leadTimeConsumptionValue"
        ></app-control-value-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
