<mat-card>
  <mat-card-title>
    Basic values
  </mat-card-title>
  <form
    [formGroup]="form"
    *ngIf="form"
  >
    <div
      gdColumns="repeat(2, minmax(200px, 1fr))"
      gdColumns.xs="1fr"
      gdGap="10px"
      style="max-width: 600px"
    >
      <app-control-value-form-field
        label="Unit price (€)"
        [control]="form.controls.unitPrice"
      ></app-control-value-form-field>

      <app-control-value-form-field
        label="Order handling cost (€)"
        [control]="form.controls.orderHandlingCost"
      ></app-control-value-form-field>

      <app-control-value-form-field
        label="Warehousing cost percentage"
        [control]="form.controls.warehousingCostPercentage"
      ></app-control-value-form-field>

      <app-control-value-form-field
        label="Lead time (days)"
        [control]="form.controls.leadTimeInDays"
      ></app-control-value-form-field>
    </div>
  </form>
</mat-card>
