<mat-card>
  <mat-card-title>
    Stock values
  </mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      *ngIf="form"
    >
      <div
        gdColumns="repeat(3, minmax(200px, 1fr))"
        gdColumns.xs="1fr"
        gdGap="10px"
        style="max-width: 900px"
      >
        <app-control-value-form-field
          label="Safety stock (qty)"
          [control]="form.controls.safetyStockQuantity"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Safety stock (days)"
          [control]="form.controls.safetyStockInDays"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Safety stock (€)"
          [control]="form.controls.safetyStockValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Maximum stock (qty)"
          [control]="form.controls.maximumStockQuantity"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Maximum stock (days)"
          [control]="form.controls.maximumStockInDays"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Maximum stock (€)"
          [control]="form.controls.maximumStockValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Order lot (qty)"
          [control]="form.controls.orderLotQuantity"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Order lot (days)"
          [control]="form.controls.orderLotInDays"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Order lot (€)"
          [control]="form.controls.orderLotValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Reorder point (qty)"
          [control]="form.controls.reorderPointQuantity"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Reorder point (days)"
          [control]="form.controls.reorderPointInDays"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Reorder point (€)"
          [control]="form.controls.reorderPointValue"
        ></app-control-value-form-field>

        <app-control-value-form-field
          label="Inventory turnover rate"
          [control]="form.controls.inventoryTurnoverTarget"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Average stock (days)"
          [control]="form.controls.averageStockInDays"
        ></app-control-value-form-field>
        <app-control-value-form-field
          label="Average stock (€)"
          [control]="form.controls.averageStockValue"
        ></app-control-value-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
